.newme {
    .products {
        padding: 60px 0px;
    
        &-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 50px;
        }
    }
}

@media (min-width: 768px) {
    .newme {
        .products {
       
            &-wrapper {
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
            }
        }
    }
}

@media (min-width: 1250px) {
    .newme {
        .products {
       
            &-wrapper {
                grid-gap: 30px;
            }
        }
    }
}