* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    @include font(400);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}